body {
    background-color: whitesmoke;
}

#page {
    font-family: Helvetica, Arial, sans-serif;
}

#content {
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-left: 15%;
    padding: 1% 5% 2% 5%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray;
    color: azure;
    margin-left: -8px;
    padding: 0 0;
}

header a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: burlywood;
}

header nav {
    font-size: 2em;
    text-align: center;
    opacity: 100%;
    margin: 8px 0px 10px 0;
    padding: 0px 5px 0px 40px;
}

header .download {
    float: right;
    margin-top: -2.5%;
    padding-right: 25px;
}

h1 {
    font-size: 2em;
}

hr {
    margin-top: -12px;
    margin-bottom: -6px;
    border: 1px solid black;
}

p, li {
    font-size: 18px;
}

#proj-intro {
    padding-top: 7px;
}

#projects h3 {
    padding-bottom: -5px;
    margin-bottom: -5px;
}

#projects p {
    margin-top: 8px;
}

#contacts {
    margin-top: -20px;
}

#contacts a, #contacts li, h3, a {
    text-decoration: none;
    color: black;
}

#contacts li {
    font-weight: 500;
    font-size: 20px;
    padding-left: -2%;
}

#contact-info .shift-right {
    margin-top: -55px;
}

.shift-right {
    float: right;
}

.shift-left {
    clear: both;
}

.split {
    column-count: 2;
    column-gap: 10px;
}

.sub-title {
    font-weight: 700;
}

.res-info { 
    display: block;
    padding-top: 4px;
}

.res-info ul {
    width: 80%;
}

.res-info li {
    margin-top: -1px;
    padding-bottom: 4px;
}

.res-info h3 {
    clear: both;
    margin-bottom: -11px;
}

.res-info h4 {
    margin-top: -10px;
    float: right;
}

.res-info h5 {
    margin-top: 14px;
    margin-right: -187px;
    font-size: 16px;
    float: right;
}

.res-info .shift-right {
    margin-top: -0px;
}